h1, h2, h3, p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
margin:auto;
display: block;
}

.newTite{
  position: fixed;
  margin-left: 1600px;
  z-index: 100000;
}
.bronco
{
  position: relative;
  top: 200px;
}
.everything 
{
  position: relative;
  top: -150px;
}
.uList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 3px;
  z-index: 100000;
}

.option {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

ul, ol {
  display: table;
  margin: 0 auto;
}

li {
  font-weight: bold;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111113;
}

.active {
  background-color: #FFC857;
  color: black;
}

.breakBox {
  width:650px;
  display: block;
  margin: auto;
  background-color: #F6B357;
  border: 2px solid black;
}
.breakfast 
{
  position: relative;
  left: -560px;
}
.lunchpos
{
  position: relative;
  top: -752px;
}
.dinner 
{
  position: relative;
  top: -1503px;
  left: 560px;
}
.divheight
{
  height: 748px;
}
