h1, h2, h3, p{
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

img {
margin:auto;
display: block;
}
.dropDownFollow
{
  position: fixed;
  top: 54px;
  left: 8px;
}

.newTite{
  position: fixed;
  margin-left: 1600px;
  z-index: 100000;
}
.logoRelative
{
  position: relative;
  top: 110px;
}
.bronco
{
  position: relative;
  top: 200px;
}
.everything 
{
  height: 990px;
  position: relative;
  top: -150px;
}
.everythingLunch
{
  height: 6630px;
  position: relative;
  top: -110px;
}
.everythingBreakfast
{
  height: 6430px;
  position: relative;
  top: -110px;
}
.everythingDinner
{
  height: 6060px;
  position: relative;
  top: -110px;
}
.uList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 3px;
  z-index: 100000;
}

.option {
  float: left;
  border-right:1px solid #bbb;
}

li:last-child {
  border-right: none;
}

ul, ol {
  display: table;
  margin: 0 auto;
}

li {
  font-weight: bold;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111113;
}

.active {
  background-color: #FFC857;
  color: black;
}

.breakBox {
  width:650px;
  display: block;
  margin: auto;
  background-color: #F6B357;
  border: 2px solid black;
}
.breakBox2 {
  width:550px;
  display: block;
  margin: auto;
  background-color: #F6B357;
  border: 2px solid black;
}
.breakfast 
{
  position: relative;
  left: -560px;
}
.lunchpos 
{
  position: relative;
  top: -752px;
}
.dinner 
{
  position: relative;
  top: -1503px;
  left: 560px;
}
.divheight
{
  height: 748px;
}
@media screen and (max-width: 800px) 
{
  .topnav a, li, ul{
    float: none;
    width: 100%;
    
  }
  .everything 
  {
    margin-top: 345px;
  }
  img, .h111 {
    display: none;
  }
  a
  {
    margin-left: -23px;
  }
  .breakfast, .lunchpos, .dinner 
  {
    position: relative;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
  }
  .everythingBreakfast, .everythingLunch, .everythingDinner
  {
    margin-top: 300px;
  }
  .dropDownFollow, #Recipes, #mealChoice
  {
    margin-top: 140px;
  }
}

p {
  font-weight: bold;
}

#myBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: 2px  solid black; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: red; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
  transition: ease-out 200ms;
}

#myBtn:hover {
  background-color: #C80001; /* Add a dark red background on hover */
  transform: translateY(-20%);
}
#mealChoice
{
  position: fixed;
  top: 75px;
  left: 230px;
}
#Recipes
{
  position: fixed;
  top: 75px;
  left: 7px;
}